-i http://pypibox.lab.nbttech.com/pq/development/
--extra-index-url=http://pypibox/flyscript/development/

# External dependencies
paramiko
pytest
scp
testfixtures

# Quicksilver dependencies
pq-runtime
pq-libvirt
sleepwalker
